@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Manrope";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Manrope";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.spollers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.spollers__item {
  font-size: 1.25rem;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border: 1px solid #eee;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  position: relative;
  font-weight: 600;
  font-size: 1.5rem;
  color: #eee;
  background-color: #629caa;
}

._spoller-init .spollers__title {
  cursor: pointer;
}

._spoller-init .spollers__title::before,
._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #ffffff;
  height: 2px;
  width: 15px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%, -50%) rotate(40deg);
      -ms-transform: translate(-75%, -50%) rotate(40deg);
          transform: translate(-75%, -50%) rotate(40deg);
}

._spoller-init .spollers__title::after {
  -webkit-transform: translate(0, -50%) rotate(-40deg);
      -ms-transform: translate(0, -50%) rotate(-40deg);
          transform: translate(0, -50%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
      -ms-transform: translateX(-75%) rotate(-40deg);
          transform: translateX(-75%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

._spoller-init ._spoller-init .spollers__title {
  position: relative;
  width: 100%;
  text-align: left;
}

._spoller-init ._spoller-init .spollers__title::before,
._spoller-init ._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0.75rem;
  height: 0.0625rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 0.625rem;
  background-color: #ffffff;
}

._spoller-init ._spoller-init .spollers__title::before {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
  right: 0.4375rem;
}

._spoller-init ._spoller-init .spollers__title::after {
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.spollers__body {
  border-radius: 0.3125rem;
  border: 1px solid #eee;
}

.spollers__body-item {
  border: 1px solid #eee;
  padding: 0.9375rem 0.3125rem;
  background-color: rgba(0, 106, 148, 0.7411764706);
  color: #eee;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

._header-scroll {
  background-color: rgba(255, 255, 255, 0.8980392157);
}

._header-scroll .menu__link {
  color: #006a94;
}

._header-scroll .menu__item:hover {
  border-bottom: rgba(0, 106, 148, 0.7411764706) 2px solid;
}

.change-lang {
  background-color: transparent;
  outline: none;
}

.change-lang option {
  color: #006a94 !important;
  background-color: transparent;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
  -webkit-column-gap: 4.375rem;
     -moz-column-gap: 4.375rem;
          column-gap: 4.375rem;
  height: 6.5625rem;
  max-width: 81.25rem;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 10rem;
  position: relative;
  z-index: 10;
}

.header__logo img {
  width: 100%;
}

.menu__item {
  padding: 0.5rem 0rem;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  border: transparent 2px solid;
}

.menu__item:hover {
  border-bottom: #fff 2px solid;
}

.menu__link {
  font-weight: 700;
  color: #d7f0ea;
  line-height: 1.0625rem;
  font-size: 16px;
  text-transform: uppercase;
}

.icon-menu {
  display: none;
}

.no-webp .footer{
  background-image: url("../img/ad-bg.jpg"); }

.footer {
  background-size: cover;
  background-position: bottom;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}

.footer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(194, 204, 214, 0.61);
  background-color: rgba(0, 106, 148, 0.7411764706);
  background-position: bottom;
  z-index: 1;
  opacity: 0.8;
}

.footer__bottom {
  padding: 5rem 0;
  position: relative;
  z-index: 3;
  width: 100%;
}

.footer__bottom-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__bottom-item {
  font-size: 1.0625rem;
  line-height: 180%;
  color: #FFFFFF;
}

.footer__bottom-item span {
  font-weight: 500;
  text-decoration: underline;
  font-size: 0.9375rem;
}

.main {
  background-image: url("../img/bg-1.webp");
  background-size: cover;
  height: 56.25rem;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1;
}

.main:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 56.25rem;
  background-color: rgba(135, 165, 229, 0.733);
  background-color: rgba(0, 106, 148, 0.7411764706);
  z-index: -1;
  opacity: 0.8;
}

.main-content {
  padding-top: 16.875rem;
  max-width: 43.75rem;
}

.main-title {
  color: rgb(234, 245, 248);
  font-weight: 600;
}

.main-title span {
  font-size: 4.0625rem;
  display: inline-block;
  margin-bottom: 30px;
}

.no-webp .advantages{
  background-image: url("../img/goal.jpg"); }

.advantages {
  margin-top: 8.75rem;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1;
}

.advantages__title {
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  padding: 2.25rem 0;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 1.875rem;
}

.advantages__title:before {
  content: "";
  position: absolute;
  left: calc(50% - 3.1875rem);
  bottom: 0px;
  width: 100px;
  height: 3px;
  background-color: #ffffff;
}

.advantages:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(194, 204, 214, 0.61);
  background-color: rgba(0, 106, 148, 0.7411764706);
  background-position: bottom;
  z-index: -1;
  opacity: 0.8;
}

.advantages .advantages-items {
  gap: 2.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1.25rem 0 3.125rem;
}

.advantages .advantages-item {
  height: 100%;
  height: 490px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 21.875rem;
  padding: 4.375rem 1.5625rem 5rem;
  border: #ffffff 3px solid;
}

.advantages .advantages-item__img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0.75rem;
  margin-bottom: 1.125rem;
}

.advantages .advantages-item__img img {
  width: 100px;
}

.advantages .advantages-item__title {
  font-size: 25px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  padding: 0.9375rem;
}

.advantages .advantages-item__text {
  color: white;
  font-size: 1.25rem;
  text-align: center;
  line-height: 1.1;
}

.no-webp .lol{
  background-image: url("../img/bg-4.jpeg"); }

.lol {
  height: 900px;
  width: 100%;
  position: relative;
}

.lol-lil {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 900px;
  background-color: rgba(255, 255, 255, 0);
  opacity: 0.8;
  z-index: 4;
}

.products {
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
}

.products__title {
  font-weight: 700;
  padding: 1.875rem 0rem;
  margin-bottom: 2.5rem;
  color: rgba(0, 106, 148, 0.7411764706);
  position: relative;
  text-align: center;
}

.products__title:before {
  content: "";
  position: absolute;
  left: calc(50% - 6.25rem);
  bottom: -10px;
  width: 180px;
  height: 5px;
  background-color: rgba(0, 106, 148, 0.7411764706);
}

.products__title-sub {
  font-weight: 600;
  padding: 1.875rem 0rem;
  margin-bottom: 1.25rem;
  color: rgba(0, 106, 148, 0.7411764706);
  text-align: center;
}

.products .product-item__title {
  font-size: 1.1875rem;
  font-weight: 600;
}

.products .product-item__title {
  position: relative;
  padding-right: 10px;
}

.products .product-item__title:hover .product-item__title:before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.products .product-item__title:hover .product-item__title:after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.products .product-item__title:after {
  width: 15px;
  height: 3px;
  top: 6px;
  left: -10px;
  content: "";
  position: absolute;
  background-color: black;
}

.products .product-item__title:before {
  width: 15px;
  height: 3px;
  left: -10px;
  top: 6px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  content: "";
  position: absolute;
  background-color: black;
}

.products .product-item__text {
  display: none;
}

.about {
  margin: 5rem 0;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.about .about-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  max-width: 100%;
  max-height: 100%;
}

.about .about-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about .about-content {
  background-color: #3b6a7c;
  background-color: rgba(0, 106, 148, 0.7411764706);
  background-color: rgba(139, 190, 0, 0.7333333333);
  background-color: rgba(136, 143, 80, 0.7960784314);
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  max-width: 37.5rem;
  padding: 1.25rem 1.875rem;
}

.about .about-content__title {
  font-size: 2.0625rem;
  font-weight: 700;
  margin-bottom: 2.1875rem;
  color: #fff;
  position: relative;
}

.about .about-content__title:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 45px;
  height: 3px;
  background-color: #fff;
}

.about .about-content__text {
  line-height: 1.2;
  margin-bottom: 2.1875rem;
  color: #fff;
}

.about .about-content__button {
  display: inline-block;
  padding: 0.9375rem 1.6875rem;
  background-color: #2e91ca;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  cursor: pointer;
}

.about .about-content__button:hover {
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #2e91ca;
}

.no-webp .contacts{
  background-image: url("../img/contact-bg.jpg"); }

.contacts {
  margin-top: 8.75rem;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}

.contacts:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.61);
  background-color: rgba(0, 147, 206, 0.7411764706);
  background-color: rgba(0, 106, 148, 0.4745098039);
  background-position: bottom;
  z-index: 1;
  opacity: 0.8;
}

.contacts__container {
  position: relative;
  z-index: 2;
}

.contacts__title {
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  padding: 2.25rem 0;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 1.25rem;
}

.contacts__title:before {
  content: "";
  position: absolute;
  left: calc(50% - 3.1875rem);
  bottom: 0px;
  width: 100px;
  height: 3px;
  background-color: #ffffff;
}

.contacts__items {
  padding: 4.375rem 0 6.25rem;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.875rem;
  row-gap: 3.125rem;
}

.contacts__item {
  color: #ffffff;
  text-align: center;
  max-width: 17.5rem;
}

.contacts__item-title {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 0.9375rem;
}

.contacts__item-contact {
  cursor: pointer;
}

.contacts__item-contact:hover {
  text-decoration: underline;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.partners {
  background-color: rgba(136, 143, 80, 0.7960784314);
  margin: 2.5rem 0;
}

.partners__container {
  padding-top: 1.875rem;
}

.partners__items {
  padding: 1.875rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}

.partners__item img {
  width: 10rem;
  height: 8.75rem;
  -o-object-position: center;
     object-position: center;
}

.partners .partners-title {
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  padding: 2.25rem 0;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 1.25rem;
}

.partners .partners-title:before {
  content: "";
  position: absolute;
  left: calc(50% - 3.1875rem);
  bottom: 0px;
  width: 100px;
  height: 3px;
  background-color: #ffffff;
}

.location {
  margin: 5rem 0;
}

.location__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 65.625em) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 0.625rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 65.625em) and (min-width: 81.25em) {
  .menu__list {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }
}

@media (min-width: 75em) {
  .main-title span {
    font-size: 4.0625rem;
  }

  .main-title {
    font-size: 3.625rem;
  }

  .advantages__title {
    font-size: 3.75rem;
  }

  .products__title {
    font-size: 3.75rem;
  }

  .products__title-sub {
    font-size: 2.5rem;
  }

  .contacts__title {
    font-size: 3.75rem;
  }

  .partners .partners-title {
    font-size: 3.75rem;
  }
}

@media (max-width: 20em) {
  .main-title span {
    font-size: 3.375rem;
  }

  .main-title {
    font-size: 3.125rem;
  }

  .advantages__title {
    font-size: 3.125rem;
  }

  .products__title {
    font-size: 3.125rem;
  }

  .products__title-sub {
    font-size: 1.875rem;
  }

  .contacts__title {
    font-size: 3.125rem;
  }

  .partners .partners-title {
    font-size: 3.125rem;
  }
}

@media (max-width: 71.625rem) {
  .advantages .advantages-items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 65.625em) {
  ._header-scroll .menu__link {
    color: #ffffff;
  }

  ._header-scroll .menu__item:hover {
    border: transparent 2px solid;
  }

  .change-lang {
    position: absolute;
    top: 13px;
    right: 58px;
    color: #006a94 !important;
    z-index: 5 !important;
    padding: 0;
    font-size: 18px;
    
  }

  .header__container {
    min-height: 50px;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background-image: url("../img/bg-1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6.25rem 0.9375rem 1.875rem 0.9375rem;
    z-index: 4;
  }

  .menu__body:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(135, 165, 229, 0.733);
    background-color: rgba(0, 106, 148, 0.7411764706);
    z-index: -1;
    opacity: 0.8;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 6.5625rem;
    background-color: rgba(252, 252, 252, 0.7411764706);
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    row-gap: 1.5625rem;
  }

  .menu__item:hover {
    border-bottom: none;
    border: transparent 2px solid;
  }

  .menu__link {
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 1.875rem;
    margin: 0.9375rem 0rem;
    color: #fff;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: rgb(255, 255, 255);
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 65.625em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 60.3125rem) {
  .spollers {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
}

@media (max-width: 60.625rem) {
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .about .about-content {
    max-width: 100%;
  }
}

@media (max-width: 47.8125rem) {
  .advantages .advantages-item {
    padding: 1.25rem 0.9375rem;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 37.3125rem) {
  .spollers {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 65.625em) and (min-width: 48em) and (max-width: 81.25em) {
@supports ((-moz-column-gap: clamp( 0.9375rem , -1.3181390977rem  +  4.6992481203vw , 2.5rem )) or (column-gap: clamp( 0.9375rem , -1.3181390977rem  +  4.6992481203vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.9375rem , -1.3181390977rem  +  4.6992481203vw , 2.5rem );
         -moz-column-gap: clamp( 0.9375rem , -1.3181390977rem  +  4.6992481203vw , 2.5rem );
              column-gap: clamp( 0.9375rem , -1.3181390977rem  +  4.6992481203vw , 2.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -1.3181390977rem  +  4.6992481203vw , 2.5rem )) or (column-gap: clamp( 0.9375rem , -1.3181390977rem  +  4.6992481203vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.9375rem + 1.5625 * (100vw - 48rem) / 33.25);
         -moz-column-gap: calc(0.9375rem + 1.5625 * (100vw - 48rem) / 33.25);
              column-gap: calc(0.9375rem + 1.5625 * (100vw - 48rem) / 33.25);
    }
}
}

@media (min-width: 65.625em) and (max-width: 48em) {
  .menu__list {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}

@media (min-width: 20em) and (max-width: 75em) {
@supports (font-size: clamp( 3.375rem , 3.125rem  +  1.25vw , 4.0625rem )) {
    .main-title span {
      font-size: clamp( 3.375rem , 3.125rem  +  1.25vw , 4.0625rem );
    }
}

@supports not (font-size: clamp( 3.375rem , 3.125rem  +  1.25vw , 4.0625rem )) {
    .main-title span {
      font-size: calc(3.375rem + 0.6875 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 3.125rem , 2.9431818182rem  +  0.9090909091vw , 3.625rem )) {
    .main-title {
      font-size: clamp( 3.125rem , 2.9431818182rem  +  0.9090909091vw , 3.625rem );
    }
}

@supports not (font-size: clamp( 3.125rem , 2.9431818182rem  +  0.9090909091vw , 3.625rem )) {
    .main-title {
      font-size: calc(3.125rem + 0.5 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 3.125rem , 2.8977272727rem  +  1.1363636364vw , 3.75rem )) {
    .advantages__title {
      font-size: clamp( 3.125rem , 2.8977272727rem  +  1.1363636364vw , 3.75rem );
    }
}

@supports not (font-size: clamp( 3.125rem , 2.8977272727rem  +  1.1363636364vw , 3.75rem )) {
    .advantages__title {
      font-size: calc(3.125rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 3.125rem , 2.8977272727rem  +  1.1363636364vw , 3.75rem )) {
    .products__title {
      font-size: clamp( 3.125rem , 2.8977272727rem  +  1.1363636364vw , 3.75rem );
    }
}

@supports not (font-size: clamp( 3.125rem , 2.8977272727rem  +  1.1363636364vw , 3.75rem )) {
    .products__title {
      font-size: calc(3.125rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem )) {
    .products__title-sub {
      font-size: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem )) {
    .products__title-sub {
      font-size: calc(1.875rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 3.125rem , 2.8977272727rem  +  1.1363636364vw , 3.75rem )) {
    .contacts__title {
      font-size: clamp( 3.125rem , 2.8977272727rem  +  1.1363636364vw , 3.75rem );
    }
}

@supports not (font-size: clamp( 3.125rem , 2.8977272727rem  +  1.1363636364vw , 3.75rem )) {
    .contacts__title {
      font-size: calc(3.125rem + 0.625 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 3.125rem , 2.8977272727rem  +  1.1363636364vw , 3.75rem )) {
    .partners .partners-title {
      font-size: clamp( 3.125rem , 2.8977272727rem  +  1.1363636364vw , 3.75rem );
    }
}

@supports not (font-size: clamp( 3.125rem , 2.8977272727rem  +  1.1363636364vw , 3.75rem )) {
    .partners .partners-title {
      font-size: calc(3.125rem + 0.625 * (100vw - 20rem) / 55);
    }
}
}

.webp .footer{ background-image: url(../img/ad-bg.webp); }

.webp .advantages{ background-image: url(../img/goal.webp); }

.webp .lol{ background-image: url(../img/bg-4.webp); }

.webp .contacts{ background-image: url(../img/contact-bg.webp); }
